body{
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: aliceblue;
    color: crimson;
}
p{
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
button{
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 3px;
}
.footer{
    position: fixed;
    color: black;
    background-color: aliceblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
}
h3,h4{
    color: aliceblue;
}